@media only screen and (min-width: 768px) {

    .site-nav {
  position: fixed;
    top: 0;
  z-index: 99;
  background-color: #ffffff;
    width: 80px;
    height: 100%;
    }
    
    .site-nav-item {
        width: 100%;
    }
       
.site-logo {
  position: fixed;
  top: 0;
  width: 47px;
  height: 80px;
  margin: 10px auto;
  z-index: 100;
} 
        
 .site-nav-item:first-child {       
      margin-top: 65px;  

}
    
    .movie {margin-left: 85px;}
    .movie-overview {
        display: block;
        padding-right: 100px;
    }

}


@media only screen and (min-width: 992px) {


main 
     { margin-left: 80px;}
    
    .movie:not(:first-child) {
        float: left;
       width: 33.33%;

    }
    .movie-poster, movie-details {
        display: block;
        width: 100%;
}
    
    .movie:first-child .movie-poster {
        display: none;
        
}
    
    .movie:not(:first-child) .movie-backdrop {
        display: none;
}
    .movie:not(:first-child) .movie-overview {
        display: none;
    }
    
  .movie {
        margin: 0;
        width: 100%;
        
    }

    footer {
        clear: both;
    }
}

@media only screen and (min-width: 1280px){

     .movie-details {
        width: 70%;
    }
    
    .movie:first-child .movie-backdrop {
        width: 75.2%;
       
    }
    .movie:first-child .movie-poster {
        display: inline;
        width: 28.2%;
        z-index: 30;
        position: absolute;
        right: 0
    }
    
    }

}
    


